body {
    background: url('https://wallpaperstock.net/wallpapers/thumbs1/55998hd.jpg') no-repeat center center;
    background-size: 1400px 700px;
    background-position: 30%;
    background-attachment: fixed;
}

.box-s{
    background:rgba(40,57,101,.9);
    text-transform:uppercase;
}
.text {
    font-family: raleway;
    font-size: 40px;
    position:  center ;
    text-align: center;
    padding-left: 0%;
    color: #000;
    margin-top: 43px;
}

.text1 {
    font-family: raleway;
    font-size: 21px;
    text-align: center;
    margin-top: -20px;
    color: #000;
}

.image {
    text-align: center;
    width: 200px;
    /* Container's dimensions */
    height: 200px;
    -webkit-border-radius: 75%;
    -moz-border-radius: 75%;
    box-shadow: 0 0 0 1px #eee;
    background-size: cover;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -30px;
    align-content: center;
}

.image:hover {
    box-shadow: 0px 5px 20px .9px #3F3F3F;
}

.image:hover {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    -webkit-transition: 1.6s ease-in-out;
    transition: 1.6s ease-in-out;
}



#overlay {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 0 0 0 0;
    opacity: 1.0;
    -webkit-transition: opacity 2.25s ease;
    -moz-transition: opacity 10.25s ease;
}

#box:hover #overlay {
    opacity: 1;
}





.panel-group{
    width:350px;
    margin:auto;
    /*margin:50px 400px 50px 400px;*/
    max-width:100%;
}

.panel-heading{
    background-color:transparent !important;
}


/* button CSS */


/*---------    Contact Form    ------------*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #000;
    font-size: 15px;
}
/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #fff;
    font-size: 15px;
    font-family: raleway;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #fff;
    font-family: raleway;
}


input {
    font-family: raleway;
    font-size: 15px;
    width: 100%;
    height: 50px;
    padding: 0px 12px 0px 12px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #eee;
    border-bottom: none;
    transition: all 0.9s ease-in-out;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
}

input:hover {
    background: #ccc;
    color: #fff;
    font-family: raleway;
}

